[submodule "lib/homekit"]
	path = lib/homekit
	url = git@github.com:Arlaz/esp-homekit.git
[submodule "lib/wolfssl"]
	path = lib/wolfssl
	url = git@github.com:Arlaz/esp-wolfssl.git
[submodule "lib/http-parser"]
	path = lib/http-parser
	url = git@github.com:Arlaz/esp-http-parser.git
